In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
#os.chdir(r"D:\python\NLP")

In [3]:
train=pd.read_csv("training.csv")
test=pd.read_csv("test.csv")

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3464 entries, 0 to 3463
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3464 non-null   int64
 1   category  3464 non-null   object
 2   text      3464 non-null   object
dtypes: int64(1), object(2)
memory usage: 81.3+ KB

In [28]:
train['category'] = train['category'].astype(str)

In [30]:
train.head()

    id category                                               text
0  959        0    5573 1189 4017 1207 4768 8542 17 1189 5085 5773
1  994        0       6315 7507 6700 4742 1944 2692 3647 4413 6700
2  995        0                      5015 8067 5335 1615 7957 5773
3  996        0  2925 7199 1994 4647 7455 5773 4518 2734 2807 8...
4  997        0                  7136 1207 6781 237 4971 3669 6193

In [81]:
train['category'].value_counts()

0    3348
1     116
Name: category, dtype: int64

In [31]:
test.head()

     id                                               text
0  3729  2705 4888 5050 5815 2472 5157 652 2117 2110 32...
1  3732  389 4978 315 5178 513 5249 5853 3267 315 3891 ...
2  3761  4478 4231 4858 2638 4231 867 371 686 4888 4179...
3     5  3015 1911 112 3905 825 337 315 1693 4677 825 5...
4     7  5136 3918 5153 2023 3091 4159 315 3711 1409 27...

In [32]:
train1=train['text']
train1.head()

0      5573 1189 4017 1207 4768 8542 17 1189 5085 5773
1         6315 7507 6700 4742 1944 2692 3647 4413 6700
2                        5015 8067 5335 1615 7957 5773
3    2925 7199 1994 4647 7455 5773 4518 2734 2807 8...
4                    7136 1207 6781 237 4971 3669 6193
Name: text, dtype: object

In [33]:
test1=test['text']
test1.head()

0    2705 4888 5050 5815 2472 5157 652 2117 2110 32...
1    389 4978 315 5178 513 5249 5853 3267 315 3891 ...
2    4478 4231 4858 2638 4231 867 371 686 4888 4179...
3    3015 1911 112 3905 825 337 315 1693 4677 825 5...
4    5136 3918 5153 2023 3091 4159 315 3711 1409 27...
Name: text, dtype: object

In [34]:
train['category'].mean()

3.207595586348473e+111

In [53]:
from sklearn.model_selection import train_test_split

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(train['text'], 
                                                    train['category'], 
                                                    random_state=0)

In [36]:
print('X_train first entry:\n\n', X_train.iloc[0])
print('\n\nX_train shape: ', X_train.shape)

X_train first entry:

 1047 6700 4178 2912 183 6700


X_train shape:  (2598,)

### count vectorization

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

# Fit the CountVectorizer to the training data
vect = CountVectorizer().fit(X_train)

In [38]:
vect

CountVectorizer()

In [39]:
vect.get_feature_names()[::1000]

['100', '203', '3104', '4155', '5205', '6272', '7331', '8374']

In [40]:
len(vect.get_feature_names())

7354

In [41]:
# transform the documents in the training data to a document-term matrix
X_train_vectorized = vect.transform(X_train)

X_train_vectorized

<2598x7354 sparse matrix of type '<class 'numpy.int64'>'
	with 40915 stored elements in Compressed Sparse Row format>

In [42]:
from sklearn.linear_model import LogisticRegression

# Train the model
model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

LogisticRegression()

In [43]:
from sklearn.metrics import roc_auc_score

# Predict the transformed test documents
predictions = model.predict(vect.transform(X_test))

print('AUC: ', roc_auc_score(y_test, predictions))

AUC:  0.8666666666666667

### Fitting the model

In [62]:
test1

0       2705 4888 5050 5815 2472 5157 652 2117 2110 32...
1       389 4978 315 5178 513 5249 5853 3267 315 3891 ...
2       4478 4231 4858 2638 4231 867 371 686 4888 4179...
3       3015 1911 112 3905 825 337 315 1693 4677 825 5...
4       5136 3918 5153 2023 3091 4159 315 3711 1409 27...
                              ...
1355    3163 4030 3892 3405 1470 2893 3163 4372 4151 3...
1356    2336 5820 5775 5853 1392 2336 3777 5655 1355 2...
1357    123 4888 1158 5566 2025 2703 1241 652 4030 202...
1358    5120 3886 5920 5289 750 4304 2283 3747 2118 32...
1359    2808 1703 2496 4362 2443 4666 497 4677 2543 56...
Name: text, Length: 1360, dtype: object

In [63]:
from sklearn.feature_extraction.text import CountVectorizer

# Fit the CountVectorizer to the training data
vect1 = CountVectorizer().fit(test1)

In [64]:
vect1

CountVectorizer()

In [65]:
vect1.get_feature_names()[::1000]

['10', '1925', '2853', '3785', '4709', '5637']

In [66]:
len(vect1.get_feature_names())

5762

In [67]:
# transform the documents in the testing data to a document-term matrix
test_vectorized = vect.transform(test1)

test_vectorized

<1360x2206 sparse matrix of type '<class 'numpy.int64'>'
	with 3416 stored elements in Compressed Sparse Row format>

In [72]:
# # Train the model
# model = LogisticRegression()
# model.fit(test_vectorized)

In [73]:
model = LogisticRegression()
model.fit(X_train_vectorized, y_train)

predictions = model.predict(vect.transform(test1))

In [75]:
len(predictions)

1360

In [76]:
len(test)

1360

In [77]:
pred = pd.DataFrame(predictions, columns = ['category'])

In [82]:
pred['category'].value_counts()

0    1360
Name: category, dtype: int64

In [83]:
pred

     category
0           0
1           0
2           0
3           0
4           0
...       ...
1355        0
1356        0
1357        0
1358        0
1359        0

[1360 rows x 1 columns]

In [84]:
test

        id                                               text
0     3729  2705 4888 5050 5815 2472 5157 652 2117 2110 32...
1     3732  389 4978 315 5178 513 5249 5853 3267 315 3891 ...
2     3761  4478 4231 4858 2638 4231 867 371 686 4888 4179...
3        5  3015 1911 112 3905 825 337 315 1693 4677 825 5...
4        7  5136 3918 5153 2023 3091 4159 315 3711 1409 27...
...    ...                                                ...
1355   311  3163 4030 3892 3405 1470 2893 3163 4372 4151 3...
1356   324  2336 5820 5775 5853 1392 2336 3777 5655 1355 2...
1357   329  123 4888 1158 5566 2025 2703 1241 652 4030 202...
1358   342  5120 3886 5920 5289 750 4304 2283 3747 2118 32...
1359   352  2808 1703 2496 4362 2443 4666 497 4677 2543 56...

[1360 rows x 2 columns]

In [86]:
df3 = pd.merge(test, pred, left_index=True, right_index=True)
df3

        id                                               text category
0     3729  2705 4888 5050 5815 2472 5157 652 2117 2110 32...        0
1     3732  389 4978 315 5178 513 5249 5853 3267 315 3891 ...        0
2     3761  4478 4231 4858 2638 4231 867 371 686 4888 4179...        0
3        5  3015 1911 112 3905 825 337 315 1693 4677 825 5...        0
4        7  5136 3918 5153 2023 3091 4159 315 3711 1409 27...        0
...    ...                                                ...      ...
1355   311  3163 4030 3892 3405 1470 2893 3163 4372 4151 3...        0
1356   324  2336 5820 5775 5853 1392 2336 3777 5655 1355 2...        0
1357   329  123 4888 1158 5566 2025 2703 1241 652 4030 202...        0
1358   342  5120 3886 5920 5289 750 4304 2283 3747 2118 32...        0
1359   352  2808 1703 2496 4362 2443 4666 497 4677 2543 56...        0

[1360 rows x 3 columns]

In [87]:
df3 = df3.drop(columns = 'text')
df3

        id category
0     3729        0
1     3732        0
2     3761        0
3        5        0
4        7        0
...    ...      ...
1355   311        0
1356   324        0
1357   329        0
1358   342        0
1359   352        0

[1360 rows x 2 columns]

In [88]:
df3.to_csv(r'C:\Users\Admin\Desktop\skillenza.csv', index = False, header=True)